DATABASE_URL="postgresql://movie:movie@localhost:5433/movie_reservation?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="replace-with-a-random-32-byte-hex-string"
PORT=4000

APP_URL="http://localhost:4000"
